//- Cards slider 1

.slider-wrap
  ul.list.slider__card.slider
    li.slide.slide--active
      article.cards.cards--rooms
        .cards__img-wrap
          picture
            source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" srcset="img/photo-room.webp")
            source(media="(min-width: 960px)" srcset="img/photo-room.png")
            //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
            img.cards__img(src="img/photo-room.jpg", alt="Изображение комнаты")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 888
            span.cards__span-left.cards__span-left--info люкс
            span.cards__span-right.cards__span-right--info 9 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form.form--rooms(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-2-1-5.visually-hidden.form__input-rating(type='radio' name='rate-2-1' value='2-1-5' checked)
                label.form__label-rating(for='input-rate-2-1-5' title='Оценка "5" звезд')

                input#input-rate-2-1-4.visually-hidden.form__input-rating(type='radio' name='rate-2-1' value='2-1-4')
                label.form__label-rating(for='input-rate-2-1-4' title='Оценка "4" звезды')

                input#input-rate-2-1-3.visually-hidden.form__input-rating(type='radio' name='rate-2-1' value='2-1-3')
                label.form__label-rating(for='input-rate-2-1-3' title='Оценка "3" звезды')

                input#input-rate-2-1-2.visually-hidden.form__input-rating(type='radio' name='rate-2-1' value='2-1-2')
                label.form__label-rating(for='input-rate-2-1-2' title='Оценка "2" звезды')

                input#input-rate-2-1-1.visually-hidden.form__input-rating(type='radio' name='rate-2-1' value='2-1-1')
                label.form__label-rating(for='input-rate-2-1-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text  Отзывов
    li.slide
      article.cards.cards--rooms
        .cards__img-wrap
          picture
              source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room.webp")
              //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
              //- source(type="image/webp" srcset="img/photo-room.webp")
              source(media="(min-width: 960px)" srcset="img/photo-room.png")
              //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
              img.cards__img(src="../img/photo-room.jpg", alt="Изображение комнаты 1")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 222
            span.cards__span-left.cards__span-left--info комфорт
            span.cards__span-right.cards__span-right--info 3 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-2-2-5.visually-hidden.form__input-rating(type='radio' name='rate-2-2' value='2-2-5' checked)
                label.form__label-rating(for='input-rate-2-2-5' title='Оценка "5" звезд')

                input#input-rate-2-2-4.visually-hidden.form__input-rating(type='radio' name='rate-2-2' value='2-2-4')
                label.form__label-rating(for='input-rate-2-2-4' title='Оценка "4" звезды')

                input#input-rate-2-2-3.visually-hidden.form__input-rating(type='radio' name='rate-2-2' value='2-2-3')
                label.form__label-rating(for='input-rate-2-2-3' title='Оценка "3" звезды')

                input#input-rate-2-2-2.visually-hidden.form__input-rating(type='radio' name='rate-2-2' value='2-2-2')
                label.form__label-rating(for='input-rate-2-2-2' title='Оценка "2" звезды')

                input#input-rate-2-2-1.visually-hidden.form__input-rating(type='radio' name='rate-2-2' value='2-2-1')
                label.form__label-rating(for='input-rate-2-2-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text Отзывов
    li.slide
      article.cards.cards--rooms
        .cards__img-wrap
          picture
            source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" srcset="img/photo-room.webp")
            source(media="(min-width: 960px)" srcset="img/photo-room.png")
            //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
            img.cards__img(src="../img/photo-room.jpg", alt="Изображение комнаты 2")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 111
            span.cards__span-left.cards__span-left--info эконом
            span.cards__span-right.cards__span-right--info 1 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-2-3-5.visually-hidden.form__input-rating(type='radio' name='rate-2-3' value='2-3-5' checked)
                label.form__label-rating(for='input-rate-2-3-5' title='Оценка "5" звезд')

                input#input-rate-2-3-4.visually-hidden.form__input-rating(type='radio' name='rate-2-3' value='2-3-4')
                label.form__label-rating(for='input-rate-2-3-4' title='Оценка "4" звезды')

                input#input-rate-2-3-3.visually-hidden.form__input-rating(type='radio' name='rate-2-3' value='2-3-3')
                label.form__label-rating(for='input-rate-2-3-3' title='Оценка "3" звезды')

                input#input-rate-2-3-2.visually-hidden.form__input-rating(type='radio' name='rate-2-3' value='2-3-2')
                label.form__label-rating(for='input-rate-2-3-2' title='Оценка "2" звезды')

                input#input-rate-2-3-1.visually-hidden.form__input-rating(type='radio' name='rate-2-3' value='2-3-1')
                label.form__label-rating(for='input-rate-2-3-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text Отзывов
    li.slide
      article.cards.cards--rooms
        .cards__img-wrap
          img(src="img/photo-room.jpg", alt="Изображение комнаты 3")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 555
            span.cards__span-left.cards__span-left--info семейный
            span.cards__span-right.cards__span-right--info 5 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-2-4-5.visually-hidden.form__input-rating(type='radio' name='rate-2-4' value='2-4-5' checked)
                label.form__label-rating(for='input-rate-2-4-5' title='Оценка "5" звезд')

                input#input-rate-2-4-4.visually-hidden.form__input-rating(type='radio' name='rate-2-4' value='2-4-4')
                label.form__label-rating(for='input-rate-2-4-4' title='Оценка "4" звезды')

                input#input-rate-2-4-3.visually-hidden.form__input-rating(type='radio' name='rate-2-4' value='2-4-3')
                label.form__label-rating(for='input-rate-2-4-3' title='Оценка "3" звезды')

                input#input-rate-2-4-2.visually-hidden.form__input-rating(type='radio' name='rate-2-4' value='2-4-2')
                label.form__label-rating(for='input-rate-2-4-2' title='Оценка "2" звезды')

                input#input-rate-2-4-1.visually-hidden.form__input-rating(type='radio' name='rate-2-4' value='2-4-1')
                label.form__label-rating(for='input-rate-2-4-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text Отзывов
  ul.list.dots
    li.dots__item
      button.dots__btn.dots__btn--active(type="button")
        span.visually-hidden Первый слайд
    li.dots__item
      button.dots__btn(type="button")
        span.visually-hidden Второй слайд
    li.dots__item
      button.dots__btn(type="button")
        span.visually-hidden Третий слайд
    li.dots__item
      button.dots__btn(type="button")
        span.visually-hidden Четвертый слайд
  ul.list.control
    li.control__item
      button.control-btn.control-btn--left(type="button")
        span.visually-hidden Стрелка влево
    li.slider__item
      button.control-btn.control-btn--right(type="button")
        span.visually-hidden Стрелка вправо

//- Cards slider 2


.slider-wrap
  ul.list.slider__card.slider
    li.slide.slide--active
      article.cards.cards--rooms
        .cards__img-wrap
          picture
            source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room-1.webp")
            //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" srcset="img/photo-room.webp")
            source(media="(min-width: 960px)" srcset="img/photo-room-1.png")
            //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
            img.cards__img(src="img/photo-room-1.jpg", alt="Изображение комнаты")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 840
            span.cards__span-left.cards__span-left--info люкс
            span.cards__span-right.cards__span-right--info 9 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form.form--rooms(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-1-5.visually-hidden.form__input-rating(type='radio' name='rate' value='5')
                label.form__label-rating(for='input-rate-1-5' title='Оценка "5" звезд')

                input#input-rate-1-4.visually-hidden.form__input-rating(type='radio' name='rate' value='4' checked)
                label.form__label-rating(for='input-rate-1-4' title='Оценка "4" звезды')

                input#input-rate-1-3.visually-hidden.form__input-rating(type='radio' name='rate' value='3')
                label.form__label-rating(for='input-rate-1-3' title='Оценка "3" звезды')

                input#input-rate-1-2.visually-hidden.form__input-rating(type='radio' name='rate' value='2')
                label.form__label-rating(for='input-rate-1-2' title='Оценка "2" звезды')

                input#input-rate-1-1.visually-hidden.form__input-rating(type='radio' name='rate' value='1')
                label.form__label-rating(for='input-rate-1-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text  Отзывов
    li.slide
      article.cards.cards--rooms
        .cards__img-wrap
          picture
              source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room-1.webp")
              //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
              //- source(type="image/webp" srcset="img/photo-room.webp")
              source(media="(min-width: 960px)" srcset="img/photo-room-1.png")
              //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
              img.cards__img(src="img/photo-room-1.jpg", alt="Изображение комнаты 1")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 820
            span.cards__span-left.cards__span-left--info комфорт
            span.cards__span-right.cards__span-right--info 3 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-2-5.visually-hidden.form__input-rating(type='radio' name='rate-1' value='2-5')
                label.form__label-rating(for='input-rate-2-5' title='Оценка "5" звезд')

                input#input-rate-2-4.visually-hidden.form__input-rating(type='radio' name='rat-1' value='2-4' checked)
                label.form__label-rating(for='input-rate-2-4' title='Оценка "4" звезды')

                input#input-rate-2-3.visually-hidden.form__input-rating(type='radio' name='rate-1' value='2-3')
                label.form__label-rating(for='input-rate-2-3' title='Оценка "3" звезды')

                input#input-rate-2-2.visually-hidden.form__input-rating(type='radio' name='rate-1' value='2-2')
                label.form__label-rating(for='input-rate-2-2' title='Оценка "2" звезды')

                input#input-rate-2-1.visually-hidden.form__input-rating(type='radio' name='rate-1' value='2-1')
                label.form__label-rating(for='input-rate-2-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text Отзывов
    li.slide
      article.cards.cards--rooms
        .cards__img-wrap
          picture
            source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room-1.webp")
            //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" srcset="img/photo-room.webp")
            source(media="(min-width: 960px)" srcset="img/photo-room-1.png")
            //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
            img.cards__img(src="img/photo-room-1.jpg", alt="Изображение комнаты 2")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 810
            span.cards__span-left.cards__span-left--info эконом
            span.cards__span-right.cards__span-right--info 1 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-3-5.visually-hidden.form__input-rating(type='radio' name='rate-3' value='3-5')
                label.form__label-rating(for='input-rate-3-5' title='Оценка "5" звезд')

                input#input-rate-3-4.visually-hidden.form__input-rating(type='radio' name='rate-3' value='3-4' checked)
                label.form__label-rating(for='input-rate-3-4' title='Оценка "4" звезды')

                input#input-rate-3-3.visually-hidden.form__input-rating(type='radio' name='rate-3' value='3-3')
                label.form__label-rating(for='input-rate-3-3' title='Оценка "3" звезды')

                input#input-rate-3-2.visually-hidden.form__input-rating(type='radio' name='rate-3' value='3-2')
                label.form__label-rating(for='input-rate-3-2' title='Оценка "2" звезды')

                input#input-rate-3-1.visually-hidden.form__input-rating(type='radio' name='rate-3' value='3-1')
                label.form__label-rating(for='input-rate-3-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text Отзывов
    li.slide
      article.cards.cards--rooms
        .cards__img-wrap
          picture
            source(type="image/webp" media="(min-width: 960px)" srcset="img/photo-room-1.webp")
            //- source(type="image/webp" media="(min-width: 660px)" srcset="img/photo-room.webp")
            //- source(type="image/webp" srcset="img/photo-room.webp")
            source(media="(min-width: 960px)" srcset="img/photo-room-1.png")
            //- source(media="(min-width: 660px)" srcset="img/photo-room.png")
            img.cards__img(src="img/photo-room-1.jpg", alt="Изображение комнаты 2")
        .cards__info
          h2.cards__title.cards__title--info
            b.cards__title-mark.cards__title-mark--info &#8470;
            | 555
            span.cards__span-left.cards__span-left--info семейный
            span.cards__span-right.cards__span-right--info 5 990₽
              small.cards__small-right.cards__small-right-info  в сутки
          .cards__rating-review
            form.form(action='#' method='POST' enctype='multipart/form-data' autocomplete='off')
              .form__rating.form__rating--rooms
                input#input-rate-4-5.visually-hidden.form__input-rating(type='radio' name='rate-4' value='4-5')
                label.form__label-rating(for='input-rate-4-5' title='Оценка "5" звезд')

                input#input-rate-4-4.visually-hidden.form__input-rating(type='radio' name='rate-4' value='4-4' checked)
                label.form__label-rating(for='input-rate-4-4' title='Оценка "4" звезды')

                input#input-rate-4-3.visually-hidden.form__input-rating(type='radio' name='rate-4' value='4-3')
                label.form__label-rating(for='input-rate-4-3' title='Оценка "3" звезды')

                input#input-rate-4-2.visually-hidden.form__input-rating(type='radio' name='rate-4' value='4-2')
                label.form__label-rating(for='input-rate-4-2' title='Оценка "2" звезды')

                input#input-rate-4-1.visually-hidden.form__input-rating(type='radio' name='rate-4' value='4-1')
                label.form__label-rating(for='input-rate-4-1' title='Оценка "1" звезда')
            .cards__review-wrap
              b.cards__review-number 145
                span.cards__review-text Отзывов
  ul.list.dots
    li.dots__item
      button.dots__btn.dots__btn--active(type="button")
        span.visually-hidden Первый слайд
    li.dots__item
      button.dots__btn(type="button")
        span.visually-hidden Второй слайд
    li.dots__item
      button.dots__btn(type="button")
        span.visually-hidden Третий слайд
    li.dots__item
      button.dots__btn(type="button")
        span.visually-hidden Четвертый слайд

