block ui-colors-type
  .ui-kit
    .container
      section.ui-kit__colors
        ul.ui-kit__list
          li.ui-kit__item.ui-kit__item--1
            h2.ui-kit__title Dark Shade 100%
            p.ui-kit__text #1F2041
          li.ui-kit__item.ui-kit__item--2
            h2.ui-kit__title Dark Shade 75%
            p.ui-kit__text #1F2041
          li.ui-kit__item.ui-kit__item--3
            h2.ui-kit__title Dark Shade 50%
            p.ui-kit__text #1F2041
          li.ui-kit__item.ui-kit__item--4
            h2.ui-kit__title Dark Shade 25%
            p.ui-kit__text #1F2041
          li.ui-kit__item.ui-kit__item--5
            h2.ui-kit__title Dark Shade 5%
            p.ui-kit__text #1F2041
          li.ui-kit__item.ui-kit__item--6
            h2.ui-kit__title Purple
            p.ui-kit__text #BC9CFF
          li.ui-kit__item.ui-kit__item--7
            h2.ui-kit__title Green
            p.ui-kit__text #6FCF97
      section.ui-kit__type
        ul.ui-kit__list
          li.ui-kit__type-item
            h1.ui-kit__type-title.ui-kit__type-title--1
              span.ui-kit__span.ui-kit__span--1 H1 This one is the sub-section or widget title
          li.ui-kit__type-item
            h2.ui-kit__type-title.ui-kit__type-title--2
              span.ui-kit__span.ui-kit__span--2 H2 Next one is the item title inside widgets
          li.ui-kit__type-item
            h3.ui-kit__type-title.ui-kit__type-title--3
              span.ui-kit__span.ui-kit__span--3 H3 This is a label or CTA text
          li.ui-kit__type-item
            p.ui-kit__type-text
              span.ui-kit__span.ui-kit__span--4 Body This is the body text which is used for most of the design, like paragraphs, lists, etc.
