block variables
    -var description = 'UI Kit Toxin Form';
    -var title = 'UI Kit Toxin Form';

include ../layout/main-template
  .logo-index
    a.logo-group
      img.logo__img(src="img/logo_group.svg" alt="Logotype")

  a.link-page(href="index.html") На главную

  include ../includes/form-elements

  .container
      .wrap
        .room-details
          .room-details__comfort
            h4.title.room-details__title Комфорт
            p.room-details__text Шумопоглощающие стены
          .room-details__convenience
            h4.title.room-details__title Удобство
            p.room-details__text Окно в каждой из спален

        .comments
          article.comments__user
            img.comments__avatar(src="img/user_avatar.png" alt="Фотография пользователя")
            h4.title.comments__title Мурад Сарафанов
            time.comments__time(datetime="13h 05m") 5 дней назад
            p.comments__text
              | Великолепный матрас на кровати в
              | основной спальне! А пуфик вообще потрясающий.
              | И стены, действительно, шумоподавляющие.
              | Выкрикивал комплименты повару — никто не
              | жаловался из соседей
            button.like__button.like__button--pressed.comments__button-like(type='button') 12
              span.visually-hidden Кнопка нажата
