block variables
    -var description = 'UI Kit Toxin';
    -var title = 'UI Kit Toxin';

include ../layout/main-template
  //- .logo-index
  //-   a.logo-group
  //-     img.logo__img(src="img/logo_group.svg" alt="Logotype")

  include ../includes/header

  main.page__main

    include ../includes/ui-colors-type

    hr

    a.link-page(href="form.html") Форма

    hr

    a.link-page(href="card.html") Карточки
    //- .cards-background
    //-   .container
    //-     .container-cards
    //-       include ../includes/cards

    //-       .cards-wrap
    //-         include ../includes/calendar
    //-         include ../includes/slider

    hr

  include ../includes/footer

