.dropdown {
  @include h4;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-bottom: 24px;

  &--filter-date {
    margin-bottom: 42px;
  }

  &--narrow {
    width: 265px;
    margin-bottom: 17px;

    &-2 {
      margin-bottom: 55px;
    }
  }

  &--guests-open {
    width: 320px;
    margin-left: 58px;
    margin-bottom: 99px;

    .dropdown__link--span::before {
      left: 221px;
    }

    .dropdown__link--span::after {
      left: 283px;
    }
  }
}
.dropdown__link--span {
  margin-right: 35px;
}

.dropdown__title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 5px 0;

  &--span {
    font-weight: 400;
  }

  &--guests-open {
    margin: 6px 0;
  }
}

.dropdown__list,
.dropdown-button__list {
  @include list-reset;
  width: 100%;

  &--sub {
    @include list-reset;
    width: 100%;
    position: relative;
    border: 1px solid $blue-crayola;
    padding-bottom: 4px;
  }
}

.dropdown-button__list {
  display: flex;
  justify-content: space-between;
}

.dropdown__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  &:hover {
    .dropdown__list--sub {
      display: block;
    }
  }
}

.dropdown-button__item {
  display: flex;
  justify-content: space-between;
  margin: 9px 6px 0 12px;

  &--right {
    display: block;
    text-align: right;
  }
}

.dropdown__link {
  width: 100%;
  font-size: 14px;
  position: relative;
  border: 1px solid $blue-crayola;
  border-radius: 4px 4px 0 0;
  padding: 11px 15px 13px;
  text-decoration: none;
  color: $purplish-blue;
  display: block;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 13px;
    height: 8px;
    background-image: url("../img/arrow_small.svg");
    transform: translateY(-50%);
  }

  &--sub {
    border-radius: 4px;
    font-weight: 700;
    padding: 11px 13px 12px;
    letter-spacing: .1px;
    text-decoration: none;
    color: $cobalt-blue;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;
  }

  &--span {
    margin-right: 34px;

    &::before,
    &::after {
      font-weight: 400;
      font-size: 16px;
      position: absolute;
      width: 30px;
      height: 30px;
      border: 1px solid $blue-crayola;
      border-radius: 50%;
      top: 55%;
      transform: translateY(-50%);
      text-align: center;
      padding-top: 3px;
    }

    &::before {
      content: "-";
      left: 166px;
    }

    &::after {
      content: "+";
      left: 227px;
    }
  }

  &--span-guest::before {
    left: 220px;
  }

  &--span-guest::after {
    left: 281px;
  }

  &:hover,
  &--sub:hover {
    color: $cobalt-blue;
    border-color: $cobalt-blue;
  }
}

.dropdown-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 13px;
  margin-right: 6px;

  &--cards {
    margin: 0 0 12px;;
  }

  &--filter {
    margin-bottom: 12px;
  }

  .dropdown__link {
    padding-bottom: 15px;
  }
}
