h4.button-title Buttons
  button(type="button").button Click Me
  button(type="button").button Click Me
  button(type="button").button Click Me
  button(type="button").button Click Me
  button(type="button").button Click Me
  button(type="button").button Click Me

  //- link

  a(href="#").button Перейти к оплате

  //- Pagination

h4.button-title Pagination
ul.list.pagination
  li.pagination__item
    a(href="#").pagination__button.pagination__button--active 1
  li.pagination__item
    a(href="#").pagination__button 2
  li.pagination__item
    a(href="#").pagination__button 3
  li.pagination__item
    a(href="#").pagination__button ...
  li.pagination__item
    a(href="#").pagination__button 5
  li.pagination__item
    button(type="button").pagination__button.pagination__button--arrow

p.pagination__text 1 - 12 из 100+ вариантов аренды
