.button__container
  h4.button__title Buttons
  .button__container-wrap
    button(type="button").button.button--gradient Click Me
    button(type="button").button.button--hover Click Me
    button(type="button").button.button--default Click Me
    button(type="button").button.button--default.button--hover Click Me
  .link
    a(href="#!").link__button Click Me
    a(href="#!").link__button.link__button--hover Click Me

  //- link button wide
.button-big
  a(href="#!").button.button--wide Перейти к оплате
    svg.button--svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z" fill="url(#paint0_linear)")

  //- Pagination

h4.button__title Pagination
ul.list.pagination
  li.pagination__item
    a(href="#!").pagination__button.pagination__button--active 1
  li.pagination__item
    a(href="#!").pagination__button 2
  li.pagination__item
    a(href="#!").pagination__button 3
  li.pagination__item
    a(href="#!").pagination__button ...
  li.pagination__item
    a(href="#!").pagination__button 15
  li.pagination__item
    button(type="button").button.pagination__button.pagination__button--arrow
      svg.button--svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z" fill="url(#paint0_linear)")

p.pagination__text 1 &ndash; 12 из 100+ вариантов аренды

//- //- Dropdown-button

//- ul.dropdown-button.dropdown-button--list
//-       li.dropdown-button__item
//-       a(href="#!").dropdown-button__link Очистить
//-       li.dropdown-button__item
//-       a(href="#!").dropdown-button__link Применить
