
$white: #ffffff;
$black: rgba(0, 0, 0, 0);
$green: #6FCF97;
$purple: #BC9CFF;
$cobalt-blue: #1F2041;
$turquoise-blue-craiola: #66d2ea;
$light-blue: #8BA4F9;
$light-gray: #E5E5E5;
$gainsborough: rgba(0, 0, 0, 0.12);
$light-telegrey: rgba(0, 0, 0, 0.2);
$purplish-blue: rgba(31, 32, 65, 0.75);
$manatee: rgba(31, 32, 65, 0.5);
$blue-crayola: rgba(31, 32, 65, 0.25);
$pale-blue: rgba(31, 32, 65, 0.05);
